
.node {
  border: 1px solid #777;
  padding: 10px;
  border-radius: 5px;
  background: white;
}
.sidebar {
  padding: 10px;
}

.dndnode {
  border: 1px solid #777;
  padding: 10px;
  border-radius: 5px;
  background: white;
  margin-bottom: 10px;
  cursor: grab;
}

.dndnode:active {
  cursor: grabbing;
}

.flow-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.reactflow-wrapper {
  width: 100%;
  height: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .flow-container {
    flex-direction: column;
  }

  .sidebar {
   
    height: 170px; /* Smaller height for sidebar in mobile view */
    /* overflow: hidden; Hide overflow content */
    transform: scale(0.8); /* Scale down the contents */
    transform-origin: top left; /* Scale from the top left corner */
    display: flex;
    flex-wrap: wrap; 
  }

  .sidebar .element {
   justify-content: space-between;
    box-sizing: border-box;
    margin: 5px; 
  }

  .reactflow-wrapper {
    height: 70vh;
  }

  .controls {
    width: 50%;
    padding: 10px;
    transform: scale(0.8); /* Scale down the contents */
  }
}